<footer class="my-2 bg-dark fixed-bottom">
    <div class="container-fluid">
        <p class="p-2 text-center text-success bg-dark2">Copyright &copy; Sortir.com {{ "now"|date("Y")  }}</p>
    </div>
    <div class="container">
        <div class="row">
            {% set nbRoutes = ctAccessor.allroutes|length %}
            {% set id = 1 %}
            <div class="routes-footer col-xs-6 col-sm-6 col-md-3">
                <ul>
            {% for i in 0..nbRoutes-1 %}
                    {# test si route admin ou si route avec value: on affiche pas  #}
                    {% if not ('admin' in ctAccessor.allroutes[i].path) and not ('{' in ctAccessor.allroutes[i].path)and not ('api' in ctAccessor.allroutes[i].name)  %}

                    <li><a class="text-success" href="{{ path(ctAccessor.allroutes[i].name)}}">{{ ctAccessor.allroutes[i].name|capitalize}}</a></li>
                    {# si PAS admin path #}
                        {% if (id % 3) == 0 %}
                                </ul>
                            </div>
                            <div class="routes-footer col-xs-6 col-sm-6 col-md-3">
                                <ul>
                        {% endif %}
                    {% set id = (id+1) %}
                    {% endif %}
            {% endfor %}
                    </ul>
                </div>
        </div>
    </div>

</footer>