<footer class="my-2 bg-dark fixed-bottom">
    <div class="container-fluid">
        <p class="p-2 text-center text-success bg-dark2">Copyright &copy; Sortir.com {{ "now"|date("Y")  }}</p>
    </div>
    <div class="container">
        <div class="row">
            {% set nbRoutes = routes|length %}
            {% set id = 0 %}
            <div class="routes-footer col-xs-6 col-sm-6 col-md-3">
                <ul>
            {% for i in 0..nbRoutes-1 %}
                    {# test si route admin ou si route avec value: on affiche pas  #}
                    {# TODO: refaire les columns: la logique est pété #}
                    {% if not ('admin' in routes[i].path) and not ('{' in routes[i].path)  %}
                    <li><a class="text-success" href="{{ path(routes[i].name)}}">{{ routes[i].name|capitalize}}</a></li>
                    {# si PAS admin path #}
                        {% if (id % 3) == 0 and (id != 0) %}
                                </ul>
                            </div>
                            <div class="routes-footer col-xs-6 col-sm-6 col-md-3">
                                <ul>
                        {% endif %}
                    {% set id = (id+1) %}
                    {% endif %}
            {% endfor %}
                    </ul>
                </div>
        </div>
    </div>

</footer>